extends ../template/layout.pug
block css 
  link(rel='stylesheet' href='/css/userDetail.css')
  link(rel='stylesheet' href='/css/acc.css')
block content 
  .container
    .userDetail
      .userInfo(style="margin-bottom:200px")
        .row
          .col-3
            .card(style='background-color: #81ecec;')
              img.card-img-top(src='/images/avataNam.jpg' alt='Card image' style='width: 100%;')
              .card-body
                h4.card-title #{user.TEN}
                .d-flex.justify-content-between
                  p.card-text #{loaiKhach}
                  span #{user.DIEMTICHLUY}đ
          .col-9
            h2 THÔNG TIN CÁ NHÂN
            form#form-1(action='/user/userDetail' method='post')
              .row
                .col-6
                  .form-group
                    label.form-label(for='fullname') Tên đầy đủ:
                    input#fullname.form-control(type='text' placeholder='VD: Nguyễn Văn Long  ' name='fullname' value=user.TEN rules='required')
                    span.form-message
                .col-6 
                  .form-group
                    label.form-label(for='sdt') Số điện thoai:
                    input#sdt.form-control(type='text' placeholder='VD: 0398291602' name='sdt'  rules='required|size:10' value=user.SDT )
                    span.form-message
                .col-6
                  .form-group
                    label.form-label(for='gender') Giới tính:
                    select#gender.form-control(name='gender')
                      option(value='Nam'  selected=user.GIOITINH=='Nam') Nam
                      option(value='Nữ'   selected=user.GIOITINH=='Nữ') Nữ
                      option(value='Khác' selected=user.GIOITINH=='Khác') Khác
                    span.form-message
                .col-6
                  .form-group
                    label.form-label(for='account') Tài khoản:
                    input#account.form-control(type='text' placeholder='VD: LongProNo1' name='account' rules='required|min:6|max:12' disabled value=taiKhoan)
                    span.form-message
                .col-6
                  .form-group
                    label.form-label(for='password') Mật khẩu
                    input#password.form-control(type='password' placeholder='VD: ******' name='password' rules='required|min:6|max:12' VALUE="")
                    span.form-message
                .col-6
                  .form-group
                    label.form-label(for='password_confirmation') Nhập lại mật khẩu
                    input.form-control(type='password' id='password_confirmation' placeholder='VD: ******' name='password_confirmation' rules='required|min:6|max:12|equal:#password' VALUE="")
                    span.form-message
                .col-6
                  button.btn.btn-primary(type='submit') Lưu thay đổi
      
  script(src='/js/validator.js')
  script.
    Validator('#form-1',{
    onSubmit:function(data){
    console.log('CALL API...')
    console.log(data)
    }
    })



