extends ../template/layoutStaff.pug
block css 
  link(rel='stylesheet' href='/css/acc.css')
block content
  .main
    form#form-1.form(action='' method='POST' style='margin-top: 100px;')
      h3.heading Đăng kí nhân viên
      p.desc BEAUTY SALON - Nơi vẻ đẹp bắt đầu
      .spacer
      .form-group
        label.form-label(for='fullname') Tên đầy đủ
        input#fullname.form-control(name='fullname' type='text' placeholder='VD: Long Nguyen' rules='required' value=values?values.fullname:'' )
        span.form-message
      .form-group
        label.form-label(for='sdt') Số điện thoại
        input#sdt.form-control(name='sdt' type='text' placeholder='VD: 0398.291.602' rules='required|phone|size:10' value=values?values.sdt:'' )
        span.form-message
      .form-group
        label.form-label(for='gender') Giới tính:
        select#gender(name='gender')
          option(value='Nam' selected) Nam
          option(value='Nữ') Nữ
          option(value='Khác') Khác
      .form-group
        label.form-label(for='email') Email:
        input#email.form-control(name='email' type='text' placeholder='VD: Long@gmail.com' rules='required|email' value=values?values.email:''  )
        span.form-message
      .form-group
        label.form-label(for='cmnd') Chứng minh thư:
        input#cmnd.form-control(name='cmnd' type='text' placeholder='VD: 197401456' rules='required|digits9' value=values?values.cmnd:''  )
        span.form-message
      .form-group
        label.form-label(for='birth') Ngày sinh:
        input#birth.form-control(name='birth' type='date' placeholder='' rules='required' value=values?values.birth:''  )
        span.form-message
      .form-group
        label.form-label(for='address') Địa chỉ:
        input#address.form-control(name='address' type='text' placeholder='VD: 97 Man thiện' rules='required' value=values?values.address:''  )
        span.form-message
      button.form-submit.btn.btn-primary(type='submit') Đăng ký
  script(src='/js/validator.js')
  script.
    Validator('#form-1',{
    onSubmit:function(data){
    console.log('CALL API...')
    console.log(data)
    }
    })
