extends ../template/layoutStaff.pug
block css 
  link(rel='stylesheet' href='/css/userOrder.css')
block content 
    div.mt-3
    .container
        .d-flex.mb-5.justify-content-center
            div(style='width:260px')
                .bg-info(style='line-height: 38px;    font-size: 20px;') Lọc hóa đơn đặt trước theo
                select#filter(name='filter'  style='width: 100%;font-size: 16px;height: 38px;')
                    option(value='dd' selected) Hóa đơn đặt trước đang đặt
                    option(value='dh') Hóa đơn đặt trước đã hủy
                    option(value='ht') Hóa đơn đặt trước hoàn thành
                
            
        div(style='height:40px') 
        .userData


            .row
                .col-2
                .col-8
                    #kqdd
                        form#formHidden(action='/staff/work/deleteAllOrder' style='border:1px solid #ccc' class='mb-5 p-3')
                            label(for='quantity') Hủy hóa đơn đặt trước quá hạn  
                            input#quantity(type='number' name='quantity' min='0' max='99' value='1' class='mx-2')
                            | giờ
                            button.btn.btn-danger.mx-3 Hủy
                        
                        
                        each item in kqdd
                            .bill(style='margin-bottom:100px') 
                                
                                .d-flex.justify-content-between.mb-5
                                    a.btn.btn-success(style='width:200px' href=`/staff/work/completeOrder?ma=${item.info.MA}`) Hoàn thành hóa đơn
                                    a.btn.btn-danger(style='width:200px'  href=`/staff/work/deleteOrder?ma=${item.info.MA}`) Hủy hóa đơn
                                .d-flex.justify-content-between
                                    span Tên: #{item.user.TEN}
                                    span Mã: #{item.info.MAKHACH}
                                    span SDT: #{item.user.SDT}
                                .billHeader.d-flex.justify-content-between.my-3
                                    .idBill 
                                        span.valueIdBill MAHD: #{item.info.MA}
                                    .statusBill
                                        if item.info.TRANGTHAI==0
                                            h4(style='color:green') Đang đặt
                                        if item.info.TRANGTHAI==1
                                            h4(style='color:red') Đã hủy
                                        if item.info.TRANGTHAI==2
                                            h4(style='') Đã hoàn thành 
                                    .timeBill #{item.info.THOIGIAN}
                                table.mt-3
                                    tr
                                        th Dịch vụ
                                        th Giá tiền 
                                    each item2 in item.data
                                        tr
                                            td #{item2.TEN}
                                            td #{item2.GIA}đ
                                div
                                    .d-flex.justify-content-between.my-5
                                        span#sumPrice Tổng tiền: #{item.sum}đ
                                        span Tỉ lệ giảm giá: #{item.tlgg}%
                                    p#currPrice Tiền thanh toán: #{parseInt(item.sum*(100-item.tlgg)/100)}đ
                    #kqdh
                        each item in kqdh
                            .bill(style='margin-bottom:100px') 
                                .d-flex.justify-content-between
                                    span Tên: #{item.user.TEN}
                                    span Mã: #{item.info.MAKHACH}
                                    span SDT: #{item.user.SDT}
                                .billHeader.d-flex.justify-content-between.my-3
                                    .idBill 
                                        span.valueIdBill MAHD: #{item.info.MA}
                                    .statusBill
                                        if item.info.TRANGTHAI==0
                                            h4(style='color:green') Đang đặt
                                        if item.info.TRANGTHAI==1
                                            h4(style='color:red') Đã hủy
                                        if item.info.TRANGTHAI==2
                                            h4(style='') Đã hoàn thành
                                        
                                    .timeBill #{item.info.THOIGIAN}
                                table.mt-3
                                    tr
                                        th Dịch vụ
                                        th Giá tiền 
                                    each item2 in item.data
                                        tr
                                            td #{item2.TEN}
                                            td #{item2.GIA}đ
                                div
                                    .d-flex.justify-content-between.my-5
                                        span#sumPrice Tổng tiền: #{item.sum}đ
                                        span Tỉ lệ giảm giá: #{item.tlgg}%
                                    p#currPrice Tiền thanh toán: #{parseInt(item.sum*(100-item.tlgg)/100)}đ
                    #kqht
                        each item in kqht
                            .bill(style='margin-bottom:100px') 
                                .d-flex.justify-content-between
                                    span Tên: #{item.user.TEN}
                                    span Mã: #{item.info.MAKHACH}
                                    span SDT: #{item.user.SDT}
                                .billHeader.d-flex.justify-content-between.my-3
                                    .idBill 
                                        span.valueIdBill MAHD: #{item.info.MA}
                                    .statusBill
                                        if item.info.TRANGTHAI==0
                                            h4(style='color:green') Đang đặt
                                        if item.info.TRANGTHAI==1
                                            h4(style='color:red') Đã hủy
                                        if item.info.TRANGTHAI==2
                                            h4(style='') Đã hoàn thành
                                        
                                    .timeBill #{item.info.THOIGIAN}
                                table.mt-3
                                    tr
                                        th Dịch vụ
                                        th Giá tiền 
                                    each item2 in item.data
                                        tr
                                            td #{item2.TEN}
                                            td #{item2.GIA}đ
                                div
                                    .d-flex.justify-content-between.my-5
                                        span#sumPrice Tổng tiền: #{item.sum}đ
                                        span Tỉ lệ giảm giá: #{item.tlgg}%
                                    p#currPrice Tiền thanh toán: #{parseInt(item.sum*(100-item.tlgg)/100)}đ
                .col-2
        
    script.
      let filter=document.querySelector('#filter') 
      let kqdd=document.querySelector('#kqdd')
      let kqdh=document.querySelector('#kqdh')
      let kqht=document.querySelector('#kqht')
      if(filter.value=='dd'){
            kqdd.style.display="block"
            kqdh.style.display="none"
            kqht.style.display="none"
        }
      if(filter.value=='dh'){
            kqdd.style.display="none"
            kqdh.style.display="block"
            kqht.style.display="none"
        }
      if(filter.value=='ht'){
            kqdd.style.display="none"
            kqdh.style.display="none"
            kqht.style.display="block"
        }
      filter.onchange=function(e){
        if(filter.value=='dd'){
            kqdd.style.display="block"
            kqdh.style.display="none"
            kqht.style.display="none"
        }
        if(filter.value=='dh'){
            kqdd.style.display="none"
            kqdh.style.display="block"
            kqht.style.display="none"
        }
        if(filter.value=='ht'){
            kqdd.style.display="none"
            kqdh.style.display="none"
            kqht.style.display="block"
        }
      }
                        