extends ../template/layoutStaff.pug
block css 
  link(rel='stylesheet' href='/css/acc.css')
block content 
  .container 
    if errors   
      .tb
        each err in errors
          .tbC
            .alert.alert-danger= err
    else if success   
      .tb
        each succ in success
          .tbC
            .alert.alert-success= succ
  .main
    form#form-2.form(action='' method='POST')
      h3.heading Đăng nhập
      p.desc BEAUTY SALON - Nơi vẻ đẹp bắt đầu
      .spacer
      .form-group
        label.form-label(for='account') Tài khoản
        input#account.form-control(name='account' type='text' placeholder='VD: long123' value=values?values.account:"" rules='required|minLength:6|maxLength:12' inputNoSpace)
        span.form-message
      .form-group
        label.form-label(for='password') Mật khẩu
        input#password.form-control(name='password' type='password' placeholder='Nhập mật khẩu' value=values?values.password:"" rules='required|minLength:6|maxLength:12' inputNoSpace)
        span.form-message
      button.form-submit.btn.btn-primary(type='submit') Đăng nhập
 

      
      
  script(src='/js/validator.js')
  script.
    validator('#form-2',{
    
    })
    let toast=document.querySelector(".tb");
    let toastChild=document.querySelector(".tbC");
    setTimeout(function() {
       if(toast) toast.removeChild(toastChild)
    },3000);
