extends ../template/layoutStaff.pug
block css 
  link(rel='stylesheet' href='/css/userOrder.css')
  link(rel='stylesheet' href='/css/tk.css')
block content 
  .container 
    .row.my-5 
        .col-2
        .col-8
            div.tq.pl-3
                if loai.loai=='ngay'
                    h2 Thống kê doanh thu ngày: #{loai.giaTri}
                if loai.loai=='thang'
                    h2 Thống kê doanh thu tháng: #{loai.giaTri}
                if loai.loai=='nam'
                    h2 Thống kê doanh thu năm: #{loai.giaTri}
                if loai.loai=='giua'
                    h2 Thống kê từ: #{loai.giaTri}
                
                p Tổng số hóa đơn: #{tongHD}
                p Tổng doanh thu: #{tongTien}đ
        .col-2
    hr
  .container
    .userData
      h4.my-5.pt-5 Danh sách hóa hơn
      .row
        .col-2
        .col-8            
            each item in kq 
                .bill.my-5 
                    #userInfo.d-flex.justify-content-between
                        h5.my-5 Khách hàng: #{item.value.user.TEN}
                        h5.my-5 Mã: #{item.value.user.MA}
                        h5.my-5 SDT: #{item.value.user.SDT}
                    .billHeader.d-flex.justify-content-between.my-3
                        .idBill 
                            span.valueIdBill MAHD: #{item.info.MA}
                        .statusBill 
                            h4(style='') Đã hoàn thành
                        .timeBill #{item.info.THOIGIAN}
                    table.mt-3
                        tr
                            th Dịch vụ
                            th Nhân viên thực hiện
                            th Giá tiền 
                        each item2 in item.value.data
                            tr
                                td #{item2.TEN}
                                td #{item2.MANV}
                                td #{item2.GIA}đ
                    div
                      .d-flex.justify-content-between.my-5
                          span#sumPrice Tổng tiền: #{item.value.sum}đ
                          span Giảm giá: #{item.value.tlgg}%
                      p#currPrice Tiền thanh toán: #{item.value.price}đ
                      p#nvtn Nhân viên thu ngân: #{item.info.MANV}
        .col-2