extends ../template/layoutStaff.pug
block css 
  link(rel='stylesheet' href='/css/userOrder.css')
block content 
  if errors   
    each err in errors
      .alert.alert-danger= err
  .container 
    .row 
        .col-2 
        .col-8 
            h4.my-5.pt-5 Chi tiết hóa đơn #{kq[0].info.MA}
            each item in kq 
                .bill.my-5 
                    #userInfo.d-flex.justify-content-between
                        h5.my-5 Khách hàng: #{user.TEN}
                        h5.my-5 Mã: #{user.MA}
                        h5.my-5 SDT: #{user.SDT}
                    .billHeader.d-flex.justify-content-between.my-3
                        .idBill 
                            span.valueIdBill MAHD: #{item.info.MA}
                        .statusBill 
                            h4(style='') Đã hoàn thành
                        .timeBill #{item.info.THOIGIAN}
                    table.mt-3
                        tr
                            th Dịch vụ
                            th Nhân viên thực hiện
                            th Giá tiền 
                        each item2 in item.value.data
                            tr
                                td #{item2.TEN}
                                td #{item2.MANV}
                                td #{item2.GIA}đ
                    div
                        .d-flex.justify-content-between.my-5
                            span#sumPrice Tổng tiền: #{item.value.sum}đ
                            span Tỉ lệ giảm giá: #{item.value.tlgg}%
                        p#currPrice Tiền thanh toán: #{item.value.price}đ
                        p#nvtn Nhân viên thu ngân: #{item.info.MANV}


        .col-2
